*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    
}

.container{
    font-family: "Roboto", sans-serif;
    background-color: #dde9e9;
    
    border-radius: 10px;
    
}
.button{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);;
}

.navbar{
    width: 100%;
}