/*.App {
  text-align: center;
  background-color: blue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

*{
  margin: 0;
  padding: 0;
  background-color: #426e6f;
}

.App{
  background-color: #426e6f;
 
  padding-bottom: 5%;
  font-family: 'Permanent Marker', sans-serif;
}

.navbar{
  text-transform: uppercase;
  margin-bottom: 10px;
  background-color: #426e6f;
}
.navbar-brand{
  background: green;
}

.nav-link{
  color: white;
}

.navbar-toggler{
  background-color: white;
}

.container{
  background-color: #426e6f;
  border-radius: 10px;
  
}

.bgNav{
  background-color: #426e6f;
}

.btn{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.table{
  background-color: purple;
}

.dropMenu{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  background-color: white;
}

h1{
  padding-top: 10px;
  background-color: #426e6f;
  font-family: 'Permanent Marker', sans-serif;
}